<header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/" class="inline-block">
      <div class="logo"></div>
    </a>
    <a href="#" class="float-right inline-block">
      <div id="hamburger-menu">
        <div class="top-bun black-background"></div>
        <p class="caps heavy sml black-text">Menu</p>
        <div class="bottom-bun black-background"></div>
      </div>
    </a>
    <nav class="site-nav">
      <a href="#" class="menu-icon">

      </a>
    </nav>

  </div>

</header>
