<div id="menu" class="position-fixed red-background transform">
  <div id="menu-wrapper">
    <div class="yellow-background">
      <div class="margin-center block max-content">
        <i class="fa fa-cutlery red-text vertical-middle text-center inline-block" aria-hidden="true"></i>
        <h4 class="red-text vertical-middle text-center inline-block">MENU</h4>
        <i class="fa fa-cutlery red-text vertical-middle inline-block" aria-hidden="true"></i>
      </div>
    </div>
    <a href="/" class="med block">Categories</a>
    <a href="/" class="med block">Request a tutorial</a>
    <a href="https://twitter.com/speedyTuts" class="med block">Twitter</a>
  </div>
</div>
