$default-transition: all 0.15s ease-out;

.button-press:active{
    -ms-transform: scale(0.92, 0.92); /* IE 9 */
    -webkit-transform: scale(0.92, 0.92); /* Safari */
    transform: scale(0.92, 0.92);
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
