@import
        "text-styles",
        "colours",
        "utility-styles",
        "images",
        "animations"
;
//symbols
.default-border{
  border: 3px solid $red;
  border-radius: 4px;
}

input{
  @extend .default-border, .block;
  font-size: 16px;
  padding: 5px;
}
input:focus{
  outline: none;
}

input[type="submit"]{
  @extend .red-background, .yellow-text, p.med, .heavy, .caps, .pointer,.button-press;
  padding: 8px 15px;
  transition: $default-transition;
}

textarea{
  @extend input;
  resize: none;
}

.landing-page-category-card-number{
  @extend .red-background, .yellow-text, p.sml, .heavy, .caps, .text-center;
  width: 50px;
  padding: 3px;
}


// Base default styling
body {
    font-family: $base-font-family;
    line-height: $base-line-height ;
    font-weight: 400;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

img {
    max-width: 100%;
}

a {
  @extend .red-text, .pointer, .heavy;
  text-decoration: none;
  transition: $default-transition;
}

a:focus{
  outline: none;
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $white;
        }
    }
}

.site-header,.site-footer{
  padding:20px;
}

.site-header{
  .logo{
    width: 90px;
    height: 90px;
  }
}

#hamburger-menu{
  margin-top: 15px;
  transition: $default-transition;
  .top-bun{
    width: 44px;
    height: 18px;
    border-radius:50%/100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: $default-transition;
  }
  .bottom-bun{
    width: 44px;
    height: 8px;
    border-radius:0px 0px 5px 5px;
    transition: $default-transition;
  }
}

#hamburger-menu:hover{
  transition: $default-transition;
  .top-bun,.bottom-bun{
    background-color: $red;
  }
  p{
    color: $red;
  }
}

.site-footer{
  background-color: $black;
  .social-media-list{
    margin-right: 10px;
  }
  .logo-white{
    width: 60px;
    height: 35px;
  }
  a{
    margin: 0px 10px;
  }
  .links{
    margin-top: 5px;
  }
}
