/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// Text Styles
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 37px;
}
h4{
  font-size: 33px;
}
p{
  &.xlrg{
    font-size: 30px;
  }
  &.lrg{
    font-size: 24px;
  }
  &.med{
    font-size: 18px;
  }
  &.sml{
    font-size: 14px;
  }
}
.heavy{
  font-weight: 800;
}
.bold{
  font-weight: 500;
}
.italic{
  font-style: italic;
}
.caps{
  text-transform: uppercase;
}

// colours
.red-background{
  background-color: $red;
}
.yellow-background{
  background-color: $yellow;
}
.black-background{
  background-color: $black;
}
.red-text{
  color: $red;
}
.yellow-text{
  color: $yellow;
}
.black-text{
  color: $black;
}
.texture{
  background-image:  $background-texture;
  background-repeat: $background-pattern-setting;
}

//utility
.pointer{
  cursor: pointer;
}
.block{
  display: block;
}

//symbols
.default-border{
  border: 3px solid $red;
  border-radius: 4px;
}

input{
  @extend .default-border, .block;
  font-size: 16px;
  padding: 5px;
}

input[type="submit"]{
  @extend .red-background, .yellow-text, p.med, .heavy, .caps, .pointer;
  padding: 8px 15px;
}

textarea{
  @extend input;
  resize: none;
}


// Built in styling
body {
    font-family: $base-font-family;
    line-height: $base-line-height ;
    font-weight: 400;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

img {
    max-width: 100%;
}

a {
  @extend .red-text, .pointer, .heavy;
  text-decoration: none;
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $yellow;
        }
    }
}
