// colours
.red-background{
  background-color: $red;
}
.yellow-background{
  background-color: $yellow;
}
.black-background{
  background-color: $black;
}
.red-text{
  color: $red;
}
.yellow-text{
  color: $yellow;
}
.black-text{
  color: $black;
}
.white-text{
  color: $white;
}
.texture{
  background-image:  $background-texture;
  background-repeat: $background-pattern-setting;
}
