.background-image-settings{
  background-size: contain;
  background-repeat: no-repeat;
}
.pizza, .fries, .shake, .icecream, .taco, .burger, .takeaways, .logo, .logo-white{
  @extend .background-image-settings;
}
.pizza{
  background-image:  $pizza;
}
.fries{
  background-image:  $fries;
}
.shake{
  background-image:  $shake;
}
.icecream{
  background-image:  $icecream;
}
.taco{
  background-image:  $taco;
}
.burger{
  background-image:  $burger;
}
.takeaways{
  background-image:  $takeaways;
}
.logo{
  background-image:  $logo;
}
.logo-white{
  background-image:  $logo-white;
}
