#menu{
  width: 250px;
  height: 100%;
  z-index:200;
  padding: 30px 30px 30px 20px;
  top:0;
  // right: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  a{
    color: $white;
    display: block;
    padding:5px 0px 5px 0px
  }
}

.menu-active{
  transform: translateX(-100%) !important;
  -webkit-transform: translateX(-100%) !important;
}
