// Text Styles
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    letter-spacing: 0.3px;
}
ul,li,ol{
  list-style: none;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 37px;
}
h4{
  font-size: 33px;
}
p,a{
  &.xlrg{
    font-size: 30px;
  }
  &.lrg{
    font-size: 24px;
  }
  &.med{
    font-size: 18px;
  }
  &.sml{
    font-size: 14px;
  }
}
.heavy{
  font-weight: 800;
}
.bold{
  font-weight: 500;
}
.medium{
  font-weight: 400;
}
.light{
  font-weight: 100;
}
.italic{
  font-style: italic;
}
.caps{
  text-transform: uppercase;
}
