---
layout: default
---
<article class="post">

  <h1>h1 Heavy</h1>
  <h2>h2 Heavy</h2>
  <h3>h3 Heavy</h3>
  <h3 class="italic">h3 Heavy Italic</h3>
  <h4>h4 Heavy</h4>
  <h4 class="italic">h4 Heavy Italic</h4>
  <p class="xlrg heavy">Paragraph XLRG Heavy</p>
  <p class="xlrg">Paragraph XLRG</p>
  <p class="lrg heavy">Paragraph LRG Heavy</p>
  <p class="lrg bold">Paragraph LRG Bold</p>
  <p class="lrg">Paragraph LRG</p>
  <p class="med heavy">Paragraph MED Heavy</p>
  <p class="med bold">Paragraph MED Bold</p>
  <p class="med">Paragraph MED</p>
  <p class="sml bold">Paragraph SML Bold</p>
  <p class="sml">Paragraph SML</p>

  <div style="width:50px;height:50px;display:inline-block;" class="red-background"></div>
  <div style="width:50px;height:50px;display:inline-block;" class="yellow-background"></div>
  <div style="width:50px;height:50px;display:inline-block;" class="black-background"></div>

  <div style="width:100px;height:150px;" class="default-border"></div>
  <input placeholder="this is an input"></input>
  <textarea placeholder="this is a textarea input"></textarea>
  <input type="submit" value="Submit"></input>

</article>
